[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
azure-functions = "*"
azure-storage-blob = "*"
requests = "*"

[requires]
python_version = "3.8"
